<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class=""><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>@ViewData["Title"] | Donnie Crocker</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="~///favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="~/images/apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Custom - Theme CSS -->
	<link rel="stylesheet" type="text/css" href="~/style.css">
	
	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="loader-inner ball-clip-rotate">
				<div></div>
			</div>
		</div>
	</div><!-- Loader /- -->
	
@*	*********** @Html.ActionLinks() & @Url.ActionLink() ***************
	
	@HTML.ActionLink generates a HTML anchor tag. While @Url.Action generates a URL for you.

	// 1. <a href="/ControllerName/Action()">Item Definition</a>
	@HTML.ActionLink("Item Definition", "ActionMethod", "ControllerName")

	// 2. /ControllerName/Action()
	@Url.Action("ActionMethod", "ControllerName")

	// 3. <a href="/ControllerName/Action()">Item Definition</a>
	<a href="@Url.Action("ActionMethod", "ControllerName")"> Item Definition</a>
*@


	<!-- Header -->
	<header class="header-main container-fluid no-padding">	
		<!-- Navigation -->
		<div class="menu-block container-fluid no-padding">
			<!-- Container -->
			<div class="container">
				<nav class="navbar ow-navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="~/" title="Logo"><h3><img src="~/images/Logo3.png" alt="logo"/></h3></a>
					</div>
					<div class="add-to-cart">
						<div class="menu-search">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search" />
									<button class="sb-search-submit"><i class="fa fa-search"></i></button>
									<span class="sb-icon-search"></span>
								</form>
							</div>
						</div>
						<ul class="cart">
							<li>
								<a aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" id="cart" class="btn dropdown-toggle" title="Order Online" href="@Url.Action("Index", "ShoppingCart")">View Cart</a>
							</li>
						</ul>
					</div>
					<div id="navbar" class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav">
							<li class="dropdown active">
								<a href="@Url.ActionLink("Index", "Home")" title="Portfolio" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								
							</li>
				
								<li><a asp-action="AboutUs" asp-controller="Home" title="AboutUs">About us</a></li>
							<li><a asp-action="Index" asp-controller="BakeryProducts" title="Menu">Menu</a></li>
							
							<li class="dropdown">
								<a asp-action="Events" asp-controller="Home" title="Latest News" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
								<i class="ddl-switch fa fa-angle-down"></i>
								
							</li>
							<li class="dropdown">
								<a asp-action="Contact" asp-controller="Home" title="Latest News" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
								<i class="ddl-switch fa fa-angle-down"></i>

								
							</li>
							<partial name="_LoginPartial" />

						</ul>		
						
					</div>
				</nav><!-- Navigation -->
			</div>
		</div><!-- Container /- -->
	</header><!------------------------------ Header ----------------------------------------------------------->
	

	@RenderBody()





	<!--------------------------------------------Footer Start----------------------------------------------------->
	<footer class="footer-main container-fluid no-padding">		
		<div class="footer-content container">
				
			<div class="col-md-4 col-sm-6 col-xs-6">
				<div class="about-footer">
					<h5>Contact Us Today</h5>
					<p>1234 Gingerbread Lane</p>
					<p>Kansas City, MO 64112</p>
					<p>United States</p>
					<p><a href="mailto:brittany.r.dodd@hotmail.com" title="Brittany.R.Dodd@hotmail.com">Brittany.R.Dodd@hotmail.com</a></p>
			
				</div>
			</div>
		</div>	
	</footer>
	
	<!-- Bottom Footer -->
	<div class="bottom-footer container-fluid no-padding">
		<div class="container">
			<div class="footer-copyright">
				<p>&copy; Copyrights @DateTime.Now.Year Donnie Crocker's Bakery. All Rights Reserved</p>
			</div>
		</div>
	</div><!-- Bottom Footer /- -->


	<!-- JQuery v1.11.3 -->
	<script src="~/js/jquery.min.js"></script>

	<!-- Library - Js -->
	<script src="~/libraries/lib.js"></script><!-- Bootstrap JS File v3.3.5 -->

	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>
	
	<!-- Library - Theme JS -->
	<script src="~/js/functions.js"></script>

	@RenderSection("scripts", false)

</body>
</html>